---
import Layout from '../layouts/Layout.astro';
import brand from "../api/brand.json";
import ProductSlider from '../components/product-slider.astro';
import GoToSocial from '../components/goToSocial.astro';
import Newsletter from '../components/newsletter.astro';
---

<Layout 
	title={brand[0].name}
	description={brand[0].description}
>

	<main>
		<div class="uk-flex-column uk-margin uk-border-rounded uk-height-medium uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light" data-src="https://images.unsplash.com/photo-1490822180406-880c226c150b?fit=crop&w=650&h=433&q=80" uk-img>
			<h1 style="font-weight: bold; font-size: xx-large; gap: 10px;" class="uk-flex-inline uk-flex-middle">
				<img src="./assets/brand/favicon.ico" style="filter: invert(1);" alt={brand[0].name} width="40px" height="40px">{brand[0].name}
			</h1>
			<p>{brand[0].description}</p>
		</div>		
		<ProductSlider />
		<GoToSocial />
		<Newsletter />
	</main>
</Layout>