---
import Header from '../components/header/Header.astro';
import Footer from '../components/footer/Footer.astro';
import Layout from '../layouts/Layout.astro';
import "../styles/contact.css";

const products = [
    {
        name: "",
        description: "",
        images: ["https://t4.ftcdn.net/jpg/05/47/74/67/360_F_547746791_AaOMo0yf5FNpns8PZ09Idmvo9KKIHqr4.webp", "https://t4.ftcdn.net/jpg/02/91/24/27/360_F_291242770_z3XC7rJB1Mvc5jVMsEY9Dx2xMrX4sxUi.jpg"],
        link: "",
        promotion: null
    },
    {
        name: "",
        description: "",
        images: ["https://t4.ftcdn.net/jpg/05/47/74/67/360_F_547746791_AaOMo0yf5FNpns8PZ09Idmvo9KKIHqr4.webp"],
        link: "",
        promotion: "50%"
    },
    {
        name: "",
        description: "",
        images: [],
        link: "",
        promotion: null
    },
    {
        name: "",
        description: "",
        images: [],
        link: "",
        promotion: null
    },
    {
        name: "",
        description: "",
        images: [],
        link: "",
        promotion: null
    },
    {
        name: "",
        description: "",
        images: [],
        link: "",
        promotion: "20%"
    },
];
---

<Layout 
    title="WoodBox: Sobre nosotros" 
    description=""
>
    <Header />
    <main>
        <div style="max-width: 1000px; margin: 0 auto;" class="uk-align-center uk-border-rounded uk-card uk-card-default uk-card-body">
            <h1>Productos de la empresa</h1>
            <hr>
            <div class="uk-child-width-1-3@m" uk-grid id="products">
            </div>
        </div>    
    </main>
    <Footer />
    <script is:inline define:vars={{ products }}>
        products.forEach((product) => {
            const article = document.createRange().createContextualFragment(/*html*/ `
                <div>
                    <div style="border: 1px solid #111;" class="uk-border-rounded uk-card uk-card-default">
                        <div style="border-bottom: 1px solid #111;" class="uk-card-media-top">
                            ${ product.promotion ? `<div style='background: #FBCD17; width: fit-content;' class='uk-card-badge uk-label'> ${product.promotion || ""} </div>` : "" }
                            ${ product.images.length > 1 ?
                                `<div style="display: ${product.images.length >= 2 ? "block" : "none" }" class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slideshow uk-slider="finite: false, set: false;">

                                    <ul class="uk-slideshow-items">
                                        ${ product.images ? product.images.map((image) => /*html*/ `
                                                <li>
                                                    <img src="${image}" alt="">
                                                </li>
                                            `).join("") 
                                        : "" }
                                    </ul>
                                
                                    <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
                                    <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
                                
                                </div>` : ""
                            }
                            {
                                product.images.length == 1 ? 
                                    `<div style="display: ${product.images.length = 1 ? "block" : "none" }" class="uk-position-relative uk-light">
                                        <img src="${product.images[0]}" alt="">
                                    </div>`: ""
                            }
                        </div>
                        <div style="position: relative;" class="uk-card-body">
                            <h3 class="uk-card-title">${product.name}</h3>
                            <p>${product.description}</p>
                            <a style="position: absolute; left: 0; right: 0; bottom: 0; top: 0;" href="${product.link}"></a>
                            <span>Visit &gt</span>
                        </div>
                    </div>
                </div>
            `);
            const team_members = document.getElementById("products").append(article);
        });
    </script>
</Layout>