---
export interface Props {
}
//const { } = Astro.props;

const base_url = "https://www.woodboxes.co";
---

<header>

  <nav class="uk-navbar-container">
    <div class="uk-container">
        <div uk-navbar>

            <div class="uk-navbar-left">

                <ul class="uk-navbar-nav">
                    <li class="uk-active">
                      <a href=`${base_url}/`/>
                        <img src="./assets/brand/logo.png" alt="Logo Woodbox" />
                      </a>
                    </li>
                </ul>

            </div>

            <div class="uk-navbar-right">

                <ul class="uk-navbar-nav">
                    <li class="uk-active"><a href=`${base_url}/`>Home</a></li>
                    <li>
                        <a href="#">About us</a>
                        <div class="uk-navbar-dropdown">
                            <ul class="uk-nav uk-navbar-dropdown-nav">
                                <li><a href=`${base_url}/team`>Equipo</a></li>
                                <li><a href=`${base_url}/about`>Acerca de Nosotros</a></li>
                                <li><a href=`${base_url}/terms`>Terminos y Condiciones</a></li>
                                <li><a href=`${base_url}/privacy-policy`>Política de Privacidad</a></li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="#">Contact</a></li>
                </ul>

            </div>

        </div>
    </div>
  </nav>
</header>