---
export interface Props {
}
//const { } = Astro.props;

const base_url = "https://www.woodboxes.co";
---

<header>

  <nav class="uk-navbar-container">
    <div class="uk-container">
        <div uk-navbar class="uk-border-rounded uk-light uk-padding uk-background-secondary uk-box-shadow-small" style="height: 100px;">

            <div class="uk-navbar-left">

                <ul class="uk-navbar-nav">
                    <li class="uk-active"><a class="uk-logo" href=`${base_url}/`/>WoodBox</a></li>
                </ul>

            </div>

            <div class="uk-navbar-right">

                <ul class="uk-navbar-nav">
                    <li class="uk-active"><a href=`${base_url}/`>Inicio</a></li>
                    <li>
                        <a href="#">Nosotros</a>
                        <div class="uk-navbar-dropdown">
                            <ul class="uk-nav uk-navbar-dropdown-nav">
                                <li><a href=`${base_url}/team`>Equipo</a></li>
                                <li><a href=`${base_url}/about`>Acerca de Nosotros</a></li>
                                <li><a href=`${base_url}/terms`>Terminos y Condiciones</a></li>
                                <li><a href=`${base_url}/privacy-policy`>Política de Privacidad</a></li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="#">Contacto</a></li>
                </ul>

            </div>

        </div>
    </div>
  </nav>
</header>